.appointment-content-main-vote {
  display: flex;
  flex-wrap: wrap;
}

.appointment-content-main-vote .timeslot-finished {
  margin: 20px;
}

.appointment-checkbox {
  text-align: center;
}

.appointment-content-main-submit {
  text-align: center;
}

.appointment-content-main-submit button {
  width: 20%;
  min-width: 150px;
  margin: 20px;
}
